/* bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* image on about page*/
.container img{
    height: 280px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 180px;
}
/*format image and text side by side*/
.container{
  display: flex;
  align-items: center;
  justify-content: center
}

.about-text{
  padding-left: 40px;
  padding-right: 80px;
}

.about-content-pad {
  padding: 30px 129px 30px 30px;
}

.about-content-link {
  margin-top: 0px;
  margin-left: 320px;
}

.center-align {
    text-align: center; /* Centers text within the heading */
  }

/* top nagivation menu */
.topnav {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topnav a {
    padding: 26px;
    text-decoration: none;
    font-size: 16px;
    color: #6b6a6a;
    display:inline-flex;
  }
.topnav a:hover {
    color: #080808;
  } 

/*background element for icon*/
.icon-container {
  position:relative; /* Essential for positioning child elements */
  display:inline-flex; /* Or other layout properties to center content */
  justify-content: center;
  align-items: center;
}
.background-element {
  position:absolute; /* Position relative to the parent container */
  top: 6px;
  left: 24px;
  width: 40px; 
  height: 40px;
  background-color: gray; /* Or background-image: url('your-image.png'); */
  border-radius: 50%; /* Example for a circular background */
  z-index: 1; /* Lower z-index places it behind other elements */
  /*add shadow behind background element*/
  box-shadow: 3px 4px 1px -0.5px rgba(206, 205, 205, 0.5); /* offset- x, offset-y, blur-radius, spread-radius, color*/
}

.bi-house-door-fill, .bi-briefcase-fill, .bi-folder-fill{
  font-size: 20px;
  position: relative; /* Ensure the icon is also positioned */
  z-index: 2; /* Higher z-index places it in front of the background */
  /* Add icon styling like font-size, color, etc. */
  color: whitesmoke;
}

/*dropdown menu*/
.dropbtn {
  background-color: transparent;
  color:#6b6a6a;
  padding: 26px;
  font-size: 16px;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #6b6a6a;
  font-size: 14px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #bca0f4;}

.dropdown:hover .dropdown-content {display:block;}

.dropdown:hover .dropbtn {color: #080808;}
/*end of drop down menu*/

/*timeline*/
.timeline-wrapper {
  position: relative;
  width: 50%;
  margin: auto;
  height: 300px;
}
.timeline-wrapper .middle-line {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #d9d9d9;
}

/*format timeline info*/
.box {
  width: 17%;
  position: relative;
  min-height: 300px;
  float:inline-start;
}

.box .date {
  position:absolute;
  top: 50%;
  left: 75px; /*moving date marker*/
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #d9d9d9;
  border: 2px solid #d9d9d9;
}
.date p {
  text-align:center;
  margin-top: 3px;
  margin-bottom: 0px;
}

.box .box-content {
  border-radius: 5px;
  background-color: transparent;
  border-style:hidden;
  border-color:#6b6a6a;
  width: 180px;
  position: absolute;
  left: -7px; /*moving content*/
  padding: 4px;
}
.box-content p {
  margin: 0;
  color: #6b6a6a;
  text-align: center;
  font-size: 16px;
}

.box-top .box-content{
  bottom: 65%;
}
.box-bottom .box-content {
  top: 65%;
}

.box-content::before {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
}

.box-bottom .box-content::before {
  border-bottom-color: #d9d9d9;
  top: -20px;
}
.box-top .box-content::before {
  border-top-color:#d9d9d9;
  bottom: -20px;
}
/*end of timeline*/

.content {
    padding: 10px 10px 10px 10px;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content h2{
  font-size: 32px;
  color: #bca0f4;
  text-shadow: 1px 2px 1px rgba(194, 194, 194, 0.5); /* Shadow properties: horiztonal offset, vertical offset, blur radius, color */
}
.content h3 {
  font-size: 22px;
  color: #6b6a6a;

}
.content p {
  font-size: 14px;
  color: #6b6a6a;

}
.content pre {
  font-size: 10px;
  color: #414141;

}

.content ul li {
  font-size: 18px;
  color: #414141;

}
/* info on projects pages*/
.content-pad {
  padding: 20px 90px 30px 90px;
}

@media screen and (max-height: 450px) {
    .topnav {padding-top: 15px;}
    .topnav a {font-size: 18px;}
  }
  